<%- include("partials/header.ejs"); -%>
<h1>Contact Us</h1>
<form action="/compose" method="post">
    <input type="text" name="postBody" id="postBody">
    <button type="submit">Publish</button>
</form>
<%- include("partials/footer.ejs"); -%>
