<%- include("partials/header.ejs"); -%>
<h1>Home</h1>
<p><%= startingContent %></p>
<% for( let index = 0; index < posts.length; index++ ) { %>
    <%= posts[index].title %>
<% } %>
<%- include("partials/footer.ejs"); -%>
